@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}
html{
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}
a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: inherit; /* Hereda el color del texto del elemento padre */
  }
/* MENU */
.contenedor-header{
    background: #061220;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}
.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}
.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #05FFDA;
    text-decoration: none;
}
.contenedor-header header ul{
    display: flex;
    list-style: none;
}
.contenedor-header header nav ul li a{
    text-align: none;
    color: #F7FFF7;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}
.contenedor-header header nav ul li a:hover{
    color: #05FFDA;
}
.nav-responsive{
    background-color: #05FFDA;
    color:#fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}
/* SECCION I N I C I O */
.inicio{
    background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(img/fondo1.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}
.inicio .contenido-banner{
    padding: 20px;
    background-color: #061220;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;
}
.inicio .contenido-banner img{
    margin-top: 40px;
    border: 10px solid #1CB698;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}
.inicio .contenido-banner h1{
    margin-top: 40px;
    font-size: 42px;
    font-family: 'Righteous';
}
.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}
.inicio .contenido-banner .redes a{
    color: #05FFDA;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #05FFDA;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 23px;
    transition: .3s;
    font-weight: bold;
}
.inicio .contenido-banner .redes a:hover{
    background-color: #05FFDA;
    color: #0D0A40;
}
.sobremi{
    background-color: #061220;
    padding: 50px 20px;
    color: #F7FFF7;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}
.sobremi .contenido-seccion p span{
    color: #05FFDA;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col
{
    width: 50%;
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #05FFDA;
    width: 130px;
}
.sobremi .fila .col ul li span{
    background-color: #05FFDA;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;

}
.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}
.sobremi .fila .col .contenedor-intereses .interes{
    width: 100px;
    height: 100px;
    background-color: #021627;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    transition: .3s;
    border: 1px solid #05FFDA;
}
.sobremi .fila .col .contenedor-intereses .interes:hover{
    background-color: #2adec3;
    color: #0D0A40;

}
.sobremi .fila .col .contenedor-intereses .interes i{
    font-size: 30px;
    margin-bottom: 10px;
}
.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
    font-weight: 700;
}
.sobremi button .overlay1{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #05b89d;
    z-index: -1;
    transition: 1s;
}
.sobremi button:hover .overlay1{
    width: 100%;
}
/* SECCION S K I L L S */

.skills{
    background-color: #031428;
    color: #fff;
    padding: 50px 20px;
}
.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}
.skills .fila{
    display: flex;
}
.skills .fila .col{
    width: 50%;
    padding: 0 20px;
}
.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill1 > span{
    font-weight: bold;
    display: block;
    margin-bottom: 55px;
    font-size: 24px;
}


.skills .skill .barra-skill{
    height: 25px;
    width: 80%;
    background-color: #000000;
    position: relative;
    margin-bottom: 30px;
    border-radius: 12px;
    text-align: center;
    border: 1px solid #000000;
}
.skills .skill .progreso{
    background-color: #00c7a9;
    position: relative;
    border-radius: 12px;
    top: 0;
    left: 0;
    height: 25px;
    text-align: center;
    z-index: 1;
}
.skills .skill .barra-skill span{
    position: absolute;
    font-size: 18px;
    font-weight: 700;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Estas clases se agregaran dinamicamente mediante javascript */
.skills .skill .javascript{
    width: 0%;
    animation: 2s javascript forwards;
}
@keyframes javascript {
    0%{width: 0%;}
    100%{width: 33.33%;}
}

.skills .skill .htmlcss{
    width: 0%;
    animation: 2s htmlcss forwards;
}
@keyframes htmlcss {
    0%{width: 0%;}
    100%{width: 66.66%;}
}

.skills .skill .java{
    width: 0%;
    animation: 2s java forwards;
}
@keyframes java {
    0%{width: 0%;}
    100%{width: 33.33%;}
}

.skills .skill .wordpress{
    width: 0%;
    animation: 2s wordpress forwards;
}
@keyframes wordpress {
    0%{width: 0%;}
    100%{width: 33.33%;}
}

.skills .skill .php{
    width: 0%;
    animation: 2s php forwards;
}
@keyframes php {
    0%{width: 0%;}
    100%{width: 33.33%;}
}

.skills .skill .CSharp{
    width: 0%;
    animation: 2s CSharp forwards;
}

@keyframes CSharp {
    0%{width: 0%;}
    100%{width: 33.33%;}
}

.skills .skill .Tiempo {
    width: 0%;
    animation: 2s Tiempo forwards;
}

@keyframes Tiempo {
    0%{width: 0%;}
    100%{width: 60%;}
}

.skills .skill .comunicacion{
    width: 0%;
    animation: 2s comunicacion forwards;
}
@keyframes comunicacion {
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills .skill .dedicacion{
    width: 0%;
    animation: 2s dedicacion forwards;
}
@keyframes dedicacion {
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .adaptabilidad {
    width: 0%;
    animation: 2s adaptabilidad forwards;
}

@keyframes adaptabilidad {
    0%{width: 0%;}
    100%{width: 85%;}
}

.skills .skill .trabajo{
    width: 0%;
    animation: 2s trabajo forwards;
}
@keyframes trabajo {
    0%{width: 0%;}
    100%{width: 65%;}
}

.skills .skill .creatividad{
    width: 0%;
    animation: 2s creatividad forwards;
}
@keyframes creatividad {
    0%{width: 0%;}
    100%{width: 85%;}
}


/* SECCION CURRICULUM */
.curriculum{
    background-color: #061220;
    color: #fff;
    padding: 50px 20px;
}
.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.curriculum h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

#curriculum-section {
    text-align: center;
    padding: 50px 0;
}

#curriculum-section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#curriculum-section p {
    max-width: 600px;
    margin: 0 auto 30px auto;
    line-height: 1.5;
    font-size: 16px;
}

.download-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 13px;
    text-decoration: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    background-color: #00d7b7; /* color verde */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.download-btn:hover {
    background-color: #45a049; /* tono de verde un poco más oscuro */
}


.cv-card {
    position: relative;
    width: 70%; /* Ancho de la tarjeta */
    overflow: hidden;
    border-radius: 5px;
    margin: auto;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2); /* Sombra para darle un poco de profundidad */
}

.cv-card img{
    border-radius: 12px;
    
}

.cv-image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo negro semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.cv-card:hover .overlay {
    opacity: 1; /* Al pasar el mouse, se muestra el overlay */
}



.download-btn:hover {
    background-color: #178a73; /* tono de verde un poco más oscuro */
}




.curriculum .fila{
    display: flex;
    justify-content: space-between;
    padding: 0px;
}
.curriculum .fila .col{
    width: 49%;
    padding: 0 20px;
    
}
.curriculum .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.curriculum .fila .izquierda{
    border-right: 2px solid #252A2E;
    width: 50%;
}

.izquierda p{
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 19px;
    padding: 20px;
}
.curriculum .fila .derecha{
    border-left: 2px solid #252A2E;
    width: 50%;
}
/* SECCION PORTFOLIO */
.proyectos{
    background-color: #031428;
    color: #fff;
    padding: 50px 20px;
}
.proyectos .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.proyectos h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.proyectos-card {
    position: relative;
    width: 90%; /* Ancho de la tarjeta */
    overflow: hidden;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2); /* Sombra para darle un poco de profundidad */
}

.proyectos-card img{
    border-radius: 12px;
    width: 100%;
}

.proyectos-image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay-proyectos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo negro semi-transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    text-align: center;
    transition: opacity 0.3s ease;
    border-radius: 12px;
}

.proyectos-card:hover .overlay-proyectos {
    opacity: 1; /* Al pasar el mouse, se muestra el overlay */
}

.btn-proyectos {
    display: inline-block;
    padding: 15px 15px;
    font-size: 13px;
    margin-top: 10px;
    text-decoration: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    background-color: #00d7b7; /* color verde */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-proyectos:hover {
    background-color: #18a387; 
}

.botonVerMas {
    display: inline-block;
    padding: 15px 15px;
    font-size: 15px;
    margin-top: 10px;
    text-decoration: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    background-color: #00d7b7; /* color verde */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botonVerMas:hover {
    background-color: #18a387; 
}

.content-proyectos {
    margin: auto;
    width: 70%;
    background-color: rgba(0, 0, 0, 0.627);
    color: #ffffff;
    border-radius: 12px;
    opacity: 5;
    padding: 20px;
    font-size: 17px;
    transition: modal 5s ease;
}

.content-proyectos p{
    font-size: 14px;
    text-align: justify;
    padding: 10px;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 20px;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #0c0b0bcd;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 10px #01c6a8;
}

.close {
    color: #e2dddd;
    background-color: red;
    float: right;
    font-size: 28px;
    font-weight:300;
    width: 40px;
    margin-top: -20px;
    margin-right: -20px;
    text-align: center;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-bottom: 30px;
}

.close:hover, .close:focus {
    background-color: rgb(182, 6, 6);
    text-decoration: none;
    cursor: pointer;
}


/* SECCION CONTACTO */
.contacto{
    background-image: url(img/fondo2.jpg);
    background-color: #1e2326;
    color: #fff;
    padding: 50px 0;
}
.contacto .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.contacto h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}
.contacto .fila{
    display: flex;
}
.contacto .col{
    width: 50%;
    padding: 10px;
    position: relative;
}
.contacto .col input, .contacto .col textarea{
    display: block;
    width: 100%;
    padding: 18px;
    border: none;
    margin-bottom: 20px;
    background-color: #061220;
    color: #fff;
    font-size: 18px;
}

.contacto .col input::placeholder, .contacto .col textarea::placeholder{
    color: #038470;
    font-weight: 700;
}

.contacto button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;
    font-weight: 700;

}
.contacto button .overlay1{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #05b89d;
    z-index: -1;
    transition: 1s;
}
.contacto button:hover .overlay1{
    width: 100%;
}
.contacto .col img{
    width: 100%;
}
.contacto .col .info{
    position: absolute;
    top: 40%;
    background-color: #252A2E;
    padding: 20px;
    width: 315px;
    max-width: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contacto .col .info ul{
    list-style: none;
}
.contacto .col .info ul li{
    margin-bottom: 20px;
    font-size: 14px;
}
.contacto .col .info ul li i{
    color: #05FFDA;
    display: inline-block;
    margin-right: 20px;
}
footer{
    background-color: #061220;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}
footer .redes{
    margin-bottom: 20px;
}
footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #05FFDA;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

footer .redes a i{
    color: #05FFDA;
}

footer .arriba{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #00d6b6;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 18px;
    font-weight: 700;
}

/* Estilos para el scrollbar (barra de desplazamiento) */
::-webkit-scrollbar {
    width: 8px;
}

.modal::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background:  #021627; 
}

::-webkit-scrollbar-thumb {
    background: #05FFDA; 
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: #06caa3; 
}


/* SECCION RESPONSIVE */
@media screen and (max-width:980px){
    nav{
        display: none;
    }
    .nav-responsive{
        display: block;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }
    nav.responsive ul{
        display: block !important;
    }
    nav.responsive ul li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
@media screen and (max-width:700px){
    .sobremi .fila{
        display: block;
    }
    .sobremi .fila .col{
        width: fit-content;
    }

    .sobremi .fila .col .contenedor-intereses .interes{
        margin-left: 30px;
        width: 110px;
    }

    .skills .fila{
        display: block;
    }
    .skills .fila .col{
        width: 100%;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
    }
    .curriculum .fila .col{
        width: 100%;
    }
    .curriculum .fila .derecha{
        margin-left: 0px;
    }

    .content-proyectos{
        width: 80%;
        font-size: 13px;
    }

    .modal-content {
        height: auto;
        font-size: 14px;
    }

    .botonVerMas{
        padding: 8px;
        font-size: 15px;
    }

    .contacto .fila{
        display: block;
    }
    .contacto .fila .col{
        width: 100%;
    }
    .download-btn {
        width: 80%;
    }
}